/*css reset*/

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*debug*/

.debug {
    * {
        border: 1px solid black;
    }
}

/*font*/

.nerko-one-regular {
  font-family: "Nerko One", cursive;

}



/*utilis*/

.light-prp {
    color: #7c69a4;
}

.dark-prp {
    color: #4e396b;
}

.bg-gray {
    background-color: #f6f5f3;;
}

.wht {
    background-color: white;
}

.bold {
    font-weight: bold;
}

 /*col*/
.col-6 {
    width: 50%;
}




/*common*/
 body{
    background-color: yellow;
 }

:root {
    font-family:  Montserrat, 'Helvetica Neue', sans-serif;
}

/*header*/


header {
    background-color: white;
    

    h1 {
        font-family: 'Nerko One', cursive;
        color: #ff9614;
        text-shadow: 1px 1px black;
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 100;

    }
}

/*main*/


/*tiramisu section*/


.tiramisu {
    padding: 1rem 0;

    .container {
        max-width: 90%;
        margin: 0 auto;

        h4 {
            text-transform: uppercase;
            font-size: 0.8rem;
            color: gray;

        }

        h2 {
            display: inline-block;
            padding: 1rem 0;
        }

        .nodisplay {
                display: none;
        }

        .row {

            .col {
                background-color: white;


                .recepie {
                    padding: 1.5rem 1rem;

                    h3 {
                        font-size: 1rem;
        
                    }

                    ul {
                            
                        padding: 1rem 0;

                        li {
                            
                            list-style: none;
                            padding: 0.5rem 0;
                            font-size: 0.8rem;
                        }
                    }

                }

            
            }


            
        }

        .social {
            
            display: flex;
            justify-content: space-between;
            padding: 2rem 0rem;

            a {
                background-color: white;
                padding: 0.2rem 0.4rem;
                border-radius: 15px;
                box-shadow: 0px 2px;
            }
        }

    
}



img {
    width: 100%;
}















/*responsiveness*/

@media screen and (min-width: 769px) and (max-width: 992px) {

    header {
        background-color: white;
        

        h1 {
            font-family: 'Nerko One', cursive;
            color: #ff9614;
            text-shadow: 1px 1px black;
            text-align: start;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 100;

        }
    }

    .tiramisu {
        padding: 1rem 0;

        .container {
            max-width: 80%;
            margin: 0 auto;

            h4 {
                text-transform: uppercase;
                font-size: 0.8rem;
                color: gray;

            }

            h2 {
                display: inline-block;
                padding: 1rem 0;
            }

            .hidden {
                    visibility: hidden;
            }

            .row {

                .col {
                    background-color: white;


                    .recepie {
                        padding: 1.5rem 1rem;

                        h3 {
                            font-size: 1rem;
                            padding-bottom: 1rem;
            
                        }

                        ul {
                                
                            padding: 1rem 0;
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                
                                list-style: none;
                                
                                font-size: 0.8rem;
                                width: 33%;
                            }
                        }

                    }

                
                }


                
            }
        }

        
    }

 /*col md*/
 
 .col-md-12 {
    width: 100%;
 }
    
}


